 .content-wrapper{
 background-color: aqua;
}
h1, h2, p.social-buttons {
    
   
    transition: 0.5s;
}
h1:hover, h2:hover {
    transform: scale(1.1);
}

img {  box-shadow: 4px 4px 5px black;
    border-radius: 50%;
    width: 450px;
    height: 300px;
    margin: 10px;
    transition: 0.5s;

}
img:hover {
    transform: scale(1.1);
} 

.col-xs-12 {
    background-color: aqua;
   
    
}
.footer-container{
    background-color: aqua;

}
.card {
    border-radius: 75%;
    border-radius: 15px;
    box-shadow: 4px 4px 5px rgb(243, 237, 237);
    transition: 2s;
    
}
.card:hover{
    transform: scale(1.1);
}


body {color: aqua;
    background-image: linear-gradient(180deg,aqua 0,aqua);
    background-repeat: repeat-x;
}

div.background {
    color: rgb(255, 0, 55);
   
}
p, small.date{
    color: black;
}

.webdesigner{
    color: red;
    
}

